.checkout-wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  height: 100vh;
  justify-content: space-evenly;
}

.checkout-column-right {
}

.checkout-column-left {
}

.checkout-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout-product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-product-info {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.checkout-product-info button {
  background: #d3e058;
  border: transparent;
  margin-top: 10px;
  border-color: #daf01b;
  color: black;
  height: 34px;
  padding: 7px;
  cursor: pointer;
}

.checkout-product-info .remove-from-cart {
  background-color: rgb(201, 200, 162);
}

.checkout-product-info button:disabled {
  background-color: #e7e4c3;
  pointer-events: none;
}

.checkout-product-title {
  font-size: 17px;
  font-weight: 800;
}

.checkout-product-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkout-product-rating {
  display: flex;
  font-size: 12px;
  margin: 10px 0 30px 0;
}

.increment-buttons {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.increment-buttons button {
  width: 45px;
  border-radius: 13px;
  height: 40px;
}

.increment-buttons input {
  width: 45px;
  border-radius: 13px;
  height: 40px;
  color: grey;
}
