.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
  padding-bottom: 300px;
}
.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.options {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 15px;
  width: 300px;
  list-style-type: none;
}
.options li {
  color: #7c7878;
  font-size: 20px;
  font-weight: 700;
}
.options .active {
  color: #ff00bf;
}

.login-form-wrapper {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  background: #ffeeee;
  background: -webkit-linear-gradient(to right, #ddefbb, #ffeeee);
  background: linear-gradient(to right, #ddefbb, #ffeeee);
}

.login-form-wrapper p {
  margin-top: 15px;
  font-size: 12px;
  color: grey;
}
.login-form-wrapper .error-fbs {
  color: red;
}

.login-form-label {
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
}

.login-input {
  margin: auto 0;
  background-color: rgb(185, 224, 208);
  width: 90%;
  border: 0;
  margin-top: 10px;
  padding: 15px;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
}
.signIn-button {
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 1px solid;
  color: black;
  background-color: plum;
  border-color: transparent;
}
.signIn-button:hover {
  background: #5656b8;
  color: white;
}
.signIn-button:disabled {
  cursor: not-allowed;
  background-color: darkgray;
}

.container {
  text-align: center;
  color: #2c2626;
  padding-top: 20px;
}

.container header {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 auto 60px auto;
  position: relative;
  height: 35px;
  width: 250px;
  overflow: hidden;
}

.header-headings {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.header-headings span {
  margin: 3px 0;
}

.sign-in {
  transform: translateY(0);
}

.sign-up {
  transform: translateY(-35px);
}

.forgot {
  transform: translateY(-70px);
}

.account-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  min-height: 300px;
}
.account-form-fields {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.account-form-fields.sign-in {
  max-height: 180px;
}

.account-form-fields.sign-up {
  max-height: 323px;
}

.account-form-fields.forgot {
  max-height: 100px;
}
