.order-wr {
  padding: 40px;
  margin: 20px 0;
  border: 4px solid #e8f420;
  background-color: white;
  position: relative;
}

.order-total {
  font-weight: 500;
  text-align: right;
}

.order-product > p {
  font-size: 13px;
}

.order-id {
  position: absolute;
  top: 40px;
  right: 30px;
}

.product-total {
  padding-top: 20px;
  color: #2a2b1a;
}
