.payment-wrapper {
  display: flex;
  justify-content: center;
  background: #ffeeee;
  background: -webkit-linear-gradient(to right, #ddefbb, #ffeeee);
  background: linear-gradient(to right, #ddefbb, #ffeeee);
  height: 100vh;
}
.pay-form {
  align-items: flex-start;
  width: 40vw;
  display: flex;
  flex-direction: column;
}
.pay-summary-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vh;
}

.delivery-address {
  padding-top: 5vh;
  border-radius: 13px;
  border-color: #353a07;
}

.pay-form-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vh;
  padding-top: 10px;
}

.pay-input {
  padding: 15px;
  border-radius: 13px;
  border-color: transparent;
}
.pay-button {
  width: 30vh;
  padding: 15px;
  border-radius: 13px;
  background-color: #daf01b;
  color: black;
  font-weight: 800;
  margin-top: 30px;
}
button:hover {
  background-color: #5656b8;
}

button:disabled {
  background-color: #c9d17f;
  color: grey;
}
.pay-errors {
  padding: 0;
  color: #ff00bf;
  margin: 0;
  font-weight: 500;
}
.products-to-deliver-wrapper {
  display: flex;
  flex-direction: column;
}
.product-pay-wrapper {
  display: flex;
  align-items: center;
}

.image-pay-summary {
  max-width: 80px;
  max-height: 80px;
  border-radius: 15px;
}

.product-pay-wrapper p {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.items {
  font-size: 12px;
  font-weight: 700;
  align-items: center;
}
.stripe-element {
  padding-top: 40px;
  height: 5vmax;
}
