.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 15px;
  background: white;

  z-index: 1;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
}
.product-info-wrapper {
  height: 100px;
  margin-bottom: 15px;
}

.product-rate {
  display: flex;
}

.product-img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-price {
  margin-top: 5px;
}

.product-button {
  background: #daf01b;
  padding: 10px 5px;
  border: 1px solid;
  margin-top: 10px;
  border-color: transparent;
  color: black;
  cursor: pointer;
  border-radius: 12px;
  height: 45px;
  width: 125px;
  padding: 15px;
}

.product-button:hover {
  color: white;
  background-color: #5656b8;
}
